<div class="col-md-3 col-sm-4">
  <div class="polaroid <%= Category.find(@user.category_id).short_category_name %>" id="<%= @user.id %>" >
    <%= image_tag ('pic01.jpg')%>
    <p>
      <span class="user_name"><%= @user.first_name.capitalize + " " + @user.last_name.capitalize %></span>
      <span class="category_name"><medium><%= Category.find(@user.category_id).name.capitalize %></medium></span>
    </p>
  </div>
</div>