<%= render 'partials/navbar.html' %>
<div class="container block">
  <h1>Edit Your Profile</h1>
  <hr>
  <div class="row">
    <%= form_for :user, url: "/#{@user.username}", html: { class: "form-horizontal", role: "form"} do |f| %>

      <div class="col-md-3">
        <div class="text-center">
          <div class="profile_pic">
            <%= image_tag @user.avatar.url(:thumb), class: "avatar", alt: "avatar" %>
          </div>
          <h4>Change profile photo</h4>
          <%= f.file_field :avatar, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-9 personal-info">
        <% if @user && @user.errors.count > 0 %>
          <div class="form-errors">
            <p>Please review and correct the following errors:</p>
            <% @user.errors.each do |key, value| %>
              <li><%= "#{key} #{value}" %></li>
            <% end %>
          </div>
        <% end %>
          <h3>Personal Info</h3>

          <div class="form-group">
            <%= f.label :first_name, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :last_name, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :username, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :username, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :tagline, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :tagline, class: "form-control" %>
            </div>
          </div>

          <h3>Select Speciality</h3>
          <h4>Select a primary speciality:</h4>
          <div class="form-group">
             <label class="col-xs-2 col-md-3 control-label">Category:</label>
             <div class="col-xs-offset-2 col-md-8">
               <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name, @user.category_id) %>
             </div>
          </div>
          <!-- <div class="form-group">
            <h4>Select any other skills:</h4>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-3 category_block">
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Web & Software
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Graphic Design
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Architecture & Interior Design
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Photography
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Music/Film/Art
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Fashion
                </label>
              </div>


              <div class="col-sm-3 category_block">
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Writing
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Venture Capital
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Community Connector
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Non-Profit
                </label>
                <label class="">
                  <input type="checkbox" name="inlineRadioOptions" value=""> Sales & Marketing
                </label>
              </div>
            </div>
          </div> -->

          <h3>Add Your Portfolio</h3>
          <h4>These fields are optional</h4>

          <div class="form-group">
            <%= f.label :company, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :company, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :company_site, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :company_site, class: "form-control" %>
            </div>
          </div>
         <div class="form-group">
           <%= f.label :twitter, class: "col-md-3 control-label" %>
           <div class="col-md-8">
             <%= f.text_field :twitter, class: "form-control" %>
           </div>
         </div>
          <div class="form-group">
            <%= f.label :facebook, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :facebook, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :github, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :github, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :dribbble, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :dribbble, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :pinterest, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :pinterest, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :linkedin, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :linkedin, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :instagram, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :instagram, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :website, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :website, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :bio, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_area :bio, class: "form-control", rows: "8" %>
            </div>
          </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="text-center">
            <%= f.submit "Save your changes" %>
          </div>
        </div>

        <!-- <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="text-center">
            <input type="button" class="delete" value="Delete Profile">
          </div>
        </div> -->
      </div>
    <% end %>
  </div>
</div>
<hr>
