<%= form_for :user, url: "#{@user.username}" do |f| %>

<h1>Profile picture:</h1>
<%= image_tag @user.avatar.url %>

<h1>Your primary information:</h1>

<%= f.label :first_name %>:<br>
<%= f.text_field :first_name, :placeholder => "First Name" %><br>
<%= f.label :last_name %>:<br>
<%= f.text_field :last_name, :placeholder => "Last Name" %><br>
<%= f.label :Username %>:<br>
<%= f.text_field :username, :placeholder => "Username" %><br>
<%= f.label :email %>:<br>
<%= f.text_field :email, :placeholder => "Email" %><br>
<%= f.label :password %>:<br>
<%= f.password_field :password, :placeholder => "Password" %><br>
<%= f.label :tagline %>:<br>
<%= f.text_field :tagline, :placeholder => "Tag Line" %><br><br>

<h1>Choose a primary category (what do you do?):</h1>

<%= f.select(:primary_category, options_for_select(@categories_array)) %><br><br>

<h1>Add additional categories (if you wear many hats):</h1>

<!-- add category list here -->

<h1>Tell us more about yourself (completely optional!):</h1>

<%= f.label :company %>:<br>
<%= f.text_field :company, :placeholder => "Company" %><br>
<%= f.label :company_site %>:<br>
<%= f.text_field :company_site, :placeholder => "Company Website" %><br>

<%= f.label :twitter %>:<br>
<%= f.text_field :twitter, :placeholder => "Twitter" %><br>
<%= f.label :facebook %>:<br>
<%= f.text_field :facebook, :placeholder => "Facebook" %><br>
<%= f.label :github %>:<br>
<%= f.text_field :github, :placeholder => "Github" %><br>
<%= f.label :dribbble %>:<br>
<%= f.text_field :dribbble, :placeholder => "Dribbble" %><br>
<%= f.label :pinterest %>:<br>
<%= f.text_field :pinterest, :placeholder => "Pinterest" %> <br>
<%= f.label :linkedin %>:<br>
<%= f.text_field :linkedin, :placeholder => "LinkedIn" %>  <br>
<%= f.label :googleplus %>:<br>
<%= f.text_field :googleplus, :placeholder => "Google Plus" %><br>
<%= f.label :instagram %>:<br>
<%= f.text_field :instagram, :placeholder => "Instagram" %> <br>
<%= f.label :website %>:<br>
<%= f.text_field :website, :placeholder => "Personal Website" %><br>
<%= f.label :bio %>:<br>
<%= f.text_area :bio, :placeholder => "Quick Bio (600 char max)", :rows => 10, :maxlength => 600 %><br>
<%= f.submit "Submit" %><br>
<% end %>
