<%= render partial: '/partials/navbar' %>
<div class="container sort_by">
  <div class="row">
    <a href= "/">
      <div class="col-sm-2 all <%= "highlighted" if !@highlighted %>">
        <small class="sorter">All</small>
      </div>
    </a>
    <% @categories.each do |cat| %>
      <% (@highlighted == cat.short_category_name)? add_on = " highlighted" : add_on = "" %>
      <a href= "/category/<%= cat.id %>">
        <div class="col-sm-2 <%= cat.short_category_name + add_on %>">
          <small class="sorter"><%= cat.name %></small>
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="container sort_by_mobile_mode">
  <div class="row">
    <select>
      <option>Faces By Category</option>
      <option><div><small class="sorter">All</small></div></option>
      <option><div><small class="sorter">Web & Software</small></div></option>
      <option><div><small class="sorter">Graphic Design</small></div></option>
      <option><div><small class="sorter">Archit. & Int. Design</small></div></option>
      <option><div><small class="sorter">Photography</small></div></option>
      <option><div><small class="sorter">Music/Film/Art</small></div></option>
      <option><div><small class="sorter">Fashion</small></div></option>
      <option><div><small class="sorter">Writing</small></div></option>
      <option><div><small class="sorter">Venture Capital</small></div></option>
      <option><div><small class="sorter">Community Connector</small></div></option>
      <option><div><small class="sorter">Non-Profit</small></div></option>
      <option><div><small class="sorter">Sales & Marketing</small></div></option>
    </select>
  </div>
</div>

<div class="container">
  
  <div class="row">
      
    <% @users.each do |user| %>
      <% @user= user %>
      <%= render partial: 'partials/polaroid' %>
    <% end %>
    
  </div>

</div>
<div class="bubble" id="upwards">^</div>