<%= render partial: '/partials/navbar' %>
<div class="container sort_by">
  <div class="row">
    <a href= "/">
      <div class="category_button col-sm-2 all <%= "highlighted" if !@highlighted %>">
        <small class="sorter">All</small>
      </div>
    </a>
    <% @categories.each do |cat| %>
      <% (@highlighted == cat.short_category_name)? add_on = " highlighted" : add_on = "" %>
      <a href= "/category/<%= cat.id %>">
        <div class="col-sm-2 <%= cat.short_category_name + add_on %>">
          <small class="sorter"><%= cat.name %></small>
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="container sort_by_mobile_mode">
  <div class="row">
    <%= select_tag("category", options_from_collection_for_select(@categories, "id", "name", params[:id]), :id => 'mobile_select', :include_blank => 'View Faces By Category', :onchange => 'window.location.href = "/category/" + this.value') %>
<!--, :onchange => 'window.location.href = "category/" + this.getAttribute("value")' -->
  </div>
</div>

<div class="container" id="polaroid_container">

  <div id="polaroids-row" class="row">
      <%= render partial: 'partials/polaroid' %>
  </div>

</div>
<div class="bubble" id="upwards">^</div>
