<%= render 'partials/navbar.html' %>

<div class="container block">
  <h1>Add Your Profile</h1>
  <hr>
  <div class="row">
    <%= form_for :user, url: "/users", html: { class: "form-horizontal", role: "form"} do |f| %>

      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>

      <div class="col-md-9 personal-info">

          <h3>Personal Info</h3>

          <div class="form-group">
            <%= f.label :first_name, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :last_name, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.password_field :password, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :username, class: "col-md-3 control-label" %>
            <div class="col-md-8">
              <%= f.text_field :username, class: "form-control" %>
            </div>
            <br>
            <h4>(Note, usernames are only used for linking to your profile.)</h4>
          </div>

          <h3>Select Speciality</h3>
          <h4>Select a primary speciality:</h4>
          <div class="form-group">
             <label class="col-xs-2 col-md-3 control-label">Category:</label>
             <div class="col-xs-offset-2 col-md-8">
               <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name) %>
             </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="text-center">
              <%= f.submit "Add Your Profile" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
<hr>
