<h1><%= @user.username %></h1>

<p>
   <strong>First Name:</strong> <%= @user.first_name %><br>
</p>
<p>
   <strong>Last Name:</strong> <%= @user.last_name %><br>
</p>
<p>
   <strong>Username:</strong> <%= @user.username %><br>
</p>
<p>
   <strong>Email:</strong> <%= @user.email %><br>
</p>
<p>
   <strong>Password:</strong> <%= @user.password %><br>
</p>
<p>
   <strong>Tagline:</strong> <%= @user.tagline %><br>
</p>
<p>
   <strong>Company:</strong> <%= @user.company %><br>
</p>
<p>
   <strong>Company Website:</strong> <%= @user.company_site %><br>
</p>
<p>
   <strong>Personal Website:</strong> <%= @user.website %><br>
</p>
<p>
   <strong>Twitter:</strong> <%= @user.twitter %><br>
</p>
<p>
   <strong>Facebook:</strong> <%= @user.facebook %><br>
</p>
<p>
   <strong>Dribbble:</strong> <%= @user.dribbble %><br>
</p>
<p>
   <strong>Pinterest:</strong> <%= @user.pinterest %><br>
</p>
<p>
   <strong>LinkedIn:</strong> <%= @user.linkedin %><br>
</p>
<p>
   <strong>Google Plus:</strong> <%= @user.googleplus %><br>
</p>
<p>
   <strong>Instagram:</strong> <%= @user.instagram %><br>
</p>
<p>
   <strong>Bio:</strong> <%= @user.bio %><br>
</p>
<p>
   <strong>Github:</strong> <%= @user.github %><br>
</p>
<p>
   <strong>Tumblr:</strong> <%= @user.tumblr %><br>
</p>